.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-box {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.user {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-box {
  display: flex;
  border: 1px solid #04AA6D;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}